-form_for [:admin, asset], :html => { :multipart => true } do |f|
  -unless f.error_messages.blank?
    .errors= f.error_messages
  .field
    %label{ :for => 'asset_handle' } Handle:
    =f.text_field :handle
  .field
    %label{ :for => 'asset_data' } File:
    =f.file_field :data
  -if asset.editable? and !asset.new_record?
    .field
      %label{ :for => 'asset_contents' } Contents:
      =f.text_area :contents
  .submit= f.submit 'Submit'
